.section-container {
  width: 1300px;
}

@media only screen and (max-width: 1600px) {
  .section-container {
    width: 1200px;
    max-width: calc(100% - 160px);
  }
}
@media only screen and (max-width: 1400px) {
  .section-container {
    width: 900px;
  }
}
@media only screen and (max-width: 900px) {
  .section-container {
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
